<div class="medium-4 medium-push-4 columns">
  <div id="logo">
    <%= render 'vq_logo' %>
  </div>
  <p class="text-left" id="tagline"><strong>Come and Play!</strong></p>
  <h5 class="blog-title">Our First (Free) Offering!</h5>
  <div class="row">
    <div class="medium-12 columns">
      <div class="card">
        <div class="image">
          <a href="<%= play_vq_index_path %>" >
            <%= image_tag 'vq-logo.svg' %>
            <span class="title">Vision Quest</span>
          </a>
        </div>
        <div class="content">
          <p><strong>Test your visual mettle!</strong> Rage against the dying of your retina! See how far you can get in this global competition of visual prowess!</p>
        </div>
        <a href="<%= play_vq_index_path %>" >
          <div class="action">
            <strong>Click to find out your score! &raquo; </strong>
          </div>
        </a>
      </div>
    </div>
  </div>
  <h5  class="blog-title">Hello World</h5>
  <p>Is this thing on? Hello, people of earth! Stay tuned for some games!</p>
  <p><%= link_to t('contact_us.contacts.new.contact_us'), contact_path, remote: true %></p>
</div>
