<div class="gameintro top">
  <%= image_tag "logo.png", class: "logo" %>
</div>
<div class="gameintro">
  <p style="font-size: 36px; color: cyan">
    <%= lev.blank? ? "You have reached" : "A friend wants to share this with you" %>
  </p>
  <p style="color: yellow; font-size: 72px">
    Level 
    <span id="level-count" style="font-size:120px"><%= lev.blank? ? params[:id] : lev %> <span>
  </p>
</div> 

<div class="gameintro bottom">
    <button translate="" onclick="visualGameStart()" name="start" type="button">
      <span ><%= lev.blank? ? 'Play Again' : 'Join the game' %></span>
    </button>
</div>

<div id="fb-share-container">
  <div class="fb-share-button" 
    data-href="<%= root_url %>?ref=<%= get_share_token params[:id] %>" 
    data-layout="button_count">
  </div>
  <div class="fb-like" 
    data-href="<%= root_url %>"" 
    data-layout="button_count" 
    data-action="like" 
    data-show-faces="false">
  </div>
</div>
