  <% unless @record.nil? %>
  <div id="score-board" class="row">
    <div id="counter" class="small-6 columns"></div>
  </div>
  <div class="medium-6 medium-push-3 columns">
    <div class="row">
      <div id="acheivement">
        <div id="burst"></div>
        <div id="acheivement-level">
          <p>LEVEL</p>
          <h1 id="user-level"><%= @level.to_i %></h1>
          <p>You're In</p>
          <h3><div id="placement"><%= @position[0].ordinalize %></div></h3>
          <p>Place!</p>
        </div>
      </div>
      <br/>
      <a class="button" href="#" onclick="vqStart(); return false;">
        <strong><%= @ref.blank? ? 'Try again!' : 'Join the game' %></strong>
      </a>
      <br/>

      <div id="fb-share-container">
        <div class="fb-share-button" 
          data-href="<%= root_url %>?ref=<%= get_share_token params[:id] %>" 
          data-layout="button_count">
        </div>
        <div class="fb-like" 
          data-href="<%= root_url %>"" 
          data-layout="button_count" 
          data-action="like" 
          data-show-faces="false">
        </div>
      </div>

      <div id="results-table">
        <div class="row">
          <div class="columns">
            <h3>
              You're <%= @position[2] > 50 ? "at" : "in the top" %><strong> <%= number_with_precision(@position[2], :precision => 2) %>%</strong>!
            </h3>
          </div>
        </div>
        <% Hash[@groups.to_a.reverse].each do |k,v| %>
          <div class="row group <%= @position[1] == k ? 'highlight' : '' %>">
            <div class="small-3 columns">
              <p><strong><%= VRecord::GROUP[k] %></strong></p>
            </div>
            <div class="small-6 columns">
              <div class="bar" style="width:<%= v[1] %>%"></div>
            </div>
            <div class="small-3 columns">
              <p class="group-population"><strong><%= number_with_delimiter(v[0]) %></strong> people</p>
            </div>
          </div>
        <% end %>
      </div>
      <a id="logo" style="margin-left:10px;" class="text-center" href="<%= root_url %>"> 
         <%= render 'vq_logo' %>
      </a>
    </div>      
  </div>      
  <div class="medium-3 medium-pull-6 columns"> <!-- left side: ads can go here --> </div>
  <div class="medium-3 columns"> <!-- right side: ads can go here --> </div>
  <% end %>
