<div class="row">
  <div class="columns">
    <h3>
      <% unless @position[0] == 0 %>
        You're <%= @position[2] > 50 ? "at" : "in the top" %><strong> <%= number_with_precision(@position[2], :precision => 2) %>%</strong>!
    </h3>
      <% else %>
        Current Stats
      <% end %>
  </div>
</div>

<% Hash[@groups.to_a.reverse].each do |k,v| %>
  <div class="row group <%= @position[1] == k ? 'highlight' : '' %>">
    <div class="small-3 columns">
      <p><strong><%= GROUP[k] %></strong></p>
    </div>
    <div class="small-6 columns">
      <div class="bar" style="width:<%= v[2] %>%"></div>
    </div>
    <div class="small-3 columns">
      <p class="group-population"><strong><%= number_with_delimiter(v[0]) %></strong> people</p>
      <% if @position[0] == 0 %>
        <p class="group-population" style="font-size:10px" >Updated at <strong><%= Time.at(v[1]).strftime('%Y/%m/%d %H:%M') %></strong></p>
      <% end %>
    </div>
  </div>
<% end %>
