<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Vision Quest</title>
    <meta name="description" content="Infinite Lunch | Makers of VisionQuest | Come and Play!">
    <link rel="apple-touch-icon" href="<%= image_url('apple-touch-icon.png') %>">
    <meta property="og:title" content="Infinite Lunch">
    <meta property="og:type" content="website">
    <meta property="og:image" content="<%= image_url('visionquest-facebook.png') %>">
    <meta property="og:url" content="http://infinitelunch.com">
    <meta property="og:description" content="Infinite Lunch | Makers of VisionQuest | Come and Play!">
    <meta name="twitter:url" content="http://infinitelunch.com">
    <meta name="twitter:title" content="Vision Quest">
    <meta name="twitter:description" content="Infinite Lunch | Makers of VisionQuest | Come and Play!">
    <meta name="twitter:image" content="<%= image_url('visionquest-twitter.png') %>">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  </head>
  <body class="invert">
    <!-- Google Tag Manager
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PHH58V"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PHH58V');</script>
     End Google Tag Manager -->

    <div class="row full-width" id="banner-container">
      <div id="banner">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Responsive-Template -->
        <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-2637858743301173"
          data-ad-slot="1872190048"
          data-ad-format="auto">
        </ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </div>
    <div id="spinner-container" class="hide">
      <div class="spinner">
        <div></div><div></div><div></div><div></div>
      </div>
    </div>
    <%= yield %>

    <script>
      $(document).foundation();
    </script>

    <%= render 'social_share' %>
  </body>
</html>
